// Created by Sangjun on 2015. 7. 26..
extends layout

block content
   - if (isSuccess)
      h2 채팅방 목록
      p #{nickname}님 환영합니다.
      p 원하는 채팅방이 없으면 채팅방을 만드세요.
         form(action='/makeRoom', method='POST')
            label(for='roomname') 방제
            input(type='text', id='roomname', name='roomname')
            input(type='submit', value='방 만들기')
      ul#roomList
         each room in roomList
            li= room
               input(type='button', value='입장', onclick='location.href = \'/join/' + room + '\'')

      script(type='text/javascript').
         var waitingRoom = io(location.host + '/waitingRoom');
         waitingRoom.on('connect', function() {
            waitingRoom.emit('join', {nickName: '#{nickname}'});
         });

         waitingRoom.on('madeWaitingRoom', function(data) {
            $('#roomList').append('<li>' + data.roomName + '<input type="button" value="입장" onclick="location.href = \'/join/' + data.roomName + '\'"/></li>');
         });
   - else
      - if (nickname === '')
         script(type='text/javascript').
            alert('잘못된 닉네임입니다.');
            history.go(-1);
      - else
         script(type='text/javascript').
            alert('사용중인 닉네임입니다.');
            history.go(-1);
