doctype html
html
  head
    title Simple Chat
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/bower/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bower/socket.io-client/socket.io.js')
  body
    block content